<section>
  <h1>Hi, I'm David</h1>
  <p>Software developer and freelance consultant based in Ciudad Real (Spain). I enjoy building software with Ruby on Rails.</p>
  <p><img src="http://www.gravatar.com/avatar/cd2e3ba306d19910a2900955667317ee?s=160" alt="david@davidanguita.name at Gravatar" /></p>
  <p>Take a look to my <a href="http://davidanguita.name">personal website</a>, send me <a href="mailto:david@davidanguita.name">an email</a> or follow me <a href="http://twitter.com/danguita">on Twitter</a>.</p>
  <p>I'm also partner &amp; lead developer <a href="http://aticoestudio.com">@aticoestudio</a>.</p>
</section>
