// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg;
}

h1.entry-title {
  font-size: 1.8em !important;
}

#main {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
